<template>
	<div>
		<button v-if="visible && isButton" @click="$emit('clicked')" :class="outerClasses" class="btn btn-default list-button" :aria-hidden="visible">
			<span :class="innerClasses" class="glyphicon" aria-hidden="true"></span>
		</button>

		<div v-if="visible && !isButton" @click="$emit('clicked')" :class="outerClasses" class="btn btn-default list-icon" :aria-hidden="visible">
			<span  :class="innerClasses" class="glyphicon" aria-hidden="true"></span>
		</div>
	</div>
</template>

<script>
	export default {
		props: ['rotate', 'isButton', 'visible', 'icon', 'color'],
		computed: {
			outerClasses() {
				return [
					this.color,
					{'rotate': this.rotate},
				]
			},
			innerClasses() {
				return [
					'glyphicon-' + this.icon
				]
			}
		}
	}
</script>

<style lang="sass" scoped>
	@import "../../sass/_variables.scss";

	.list-symbol {
		position: absolute;
		right: 8px;
		top: 8px;
		border: none;
		background-color: transparent;

		&:hover {
			background-color: transparent;
		}

		@each $type, $name in
			(danger, $brand-danger),
			(warning, $brand-warning),
			(primary, $brand-primary),
			(success, $brand-success) {
			&.#{$type} {
				color: $name;
			}
		}

		.glyphicon {
			top: 2px;
		}
	}

	.list-button {
		@extend .list-symbol;

		&:hover {
			color: white;
		}

		@each $type, $name in
			(danger, $brand-danger),
			(warning, $brand-warning),
			(primary, $brand-primary),
			(success, $brand-success) {
			&.#{$type}:hover {
				background-color: $name;
			}
		}
	}

	.list-icon {
		@extend .list-symbol;

		&:focus, &:active {
			background-color: transparent;
			outline: none;
			box-shadow: none;
		}
	}

	@keyframes rotation {
    0%   {
			transform: rotate(0deg);
		}
    100% {
			transform: rotate(360deg);
		}
	}

	.rotate {
		animation-name: rotation;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}
</style>
