<template>
	<div class="login-pane">
		<p v-if="userDeniedLogin" class="text-danger">You must login with your google account to access this app</p>

		<button @click="login" v-if="!authState.validatingToken" class="google-sign-in">Sign in with Google</button>

		<div class="loading-icon">
			<loading-icon :visible="authState.validatingToken" icon="hourglass" rotate="true" color="primary"></loading-icon>
		</div>
	</div>
</template>


<script>
	var neededScopes = "profile";

	export default {
		mixins: [Vue.authMixin],
		methods: {
			login() {
				this.$auth.login(neededScopes);
			},
		},
		mounted() {
			// Broadcast any errors from the auth service
			if (this.$auth.state.errors.invalidToken) {
				this.$toast('danger', 'Token was invalid, try logging in again');
			}
			if (this.$auth.state.errors.userDeniedLogin) {
				this.$toast('danger', 'You must login to be able to use this app');
			}
			if (this.$auth.state.errors.mismatchedAudience) {
				this.$toast('danger', 'An error occured when trying to validate your app, try logging in again');
			}
		}
	}
</script>


<style lang="sass">
	@import "../../sass/_variables.scss";

	.login-pane {
		margin-top: 20px;
	}

	.loading-icon {
		position: relative;
		width: 50px;
		margin: auto;
	}

	.google-sign-in {
		width: 250px;
		text-align: center;
		margin: auto;
		padding: 10px;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
		background-color: transparent;
		border: none;
		font-size: 18px;
		display: block;

		&:hover {
			color: white;
			background-color: $brand-primary;
		}
	}
</style>
