<template>
	<div class="new-task-bar task-list-segment">
		<loading-icon :visible="isLoading" icon="hourglass" rotate="true" color="primary"></loading-icon>

		<input type="text" name="taskName" placeholder="Create a new task..." class="task-list-input" v-model="taskName" @keydown.enter="createTask" :disabled="isLoading">
	</div>
</template>

<script>
	import Task from '../services/Task';

	export default {
		data() {
			return {
				taskName: "",
				isLoading: false
			}
		},
		computed: {
			input() {
				return this.$el.querySelector('.task-list-input');
			}
		},
		methods: {
			// Creates a new task on the server and then clears the text from the input box.
			// Fires the created event once the task has been saved.
			createTask() {
				if (!this.isLoading) {
					this.isLoading = true;
					Task.createTask(this.taskName)
						.then((task) => {
							this.$emit('created', task)
							this.taskName = "";

							// Select the input again after a short timeout so that
							// it has time to become editable again. While isLoading is
							// true, the input is disabled, so we have to wait for the
							// finally clause to be completed before selecting the input.
							setTimeout(() => {
								this.input.select();
							}, 10);
						})
						.catch((response) => {
							// Show a toast with the validation message
							if (response.error === 'ValidationException') {
								this.$toast('danger', 'Could not create task, ' + response.body.data.name[0], 10000);
								return Promise.resolve({});
							}
							// Reject the response for someone else to catch it
							return Promise.reject(response);
						})
						.catch((response) => {
							// Catch all other exceptions
							this.$toast('danger', 'An unknown error occured (' + response.error + ')');
							console.log(response);
						})
						.finally(() => {
							this.isLoading = false;
						});
				}
			}
		}
	}
</script>

<style lang="sass">

</style>
