<template>
	<div class="task-list-item task-list-segment">
		<div class="hidden-button">
			<loading-icon @clicked="deleteTask()" :visible="!isLoading" is-button="true" icon="trash" color="danger"></loading-icon>
		</div>
		<loading-icon :visible="isLoading" icon="hourglass" rotate="true" color="primary"></loading-icon>

		<input type="text" name="taskName" class="task-title task-list-input" @click="enableEditing()" @blur="disableEditing()" @keydown.enter="disableEditing()" v-model="task.name">
	</div>
</template>

<script>
	import Task from '../services/Task';

	export default {
		props: ['task'],
		data() {
			return {
				// Controls whether the loading spinner is displayed.
				// All other controls are hidden while the spinner is present.
				isLoading: false,

				// True when the task is being edited
				isEditing: false
			};
		},
		computed: {
			input() {
				return this.$el.querySelector('.task-title')
			}
		},
		methods: {
			// Deletes a task from the server
			deleteTask() {
				if (!this.isLoading) {
					this.setLoading(true);
					this.task.delete()
						.catch((response) => {
							// If the id does not exist on the server,
							// then we resolve to response so that it gets removed
							// from the UI anyway.
							if (response.error === 'ResourceNotFoundException') {
								return Promise.resolve(response);
							}
							return Promise.reject(response);
						})
						.then((response) => {
							this.$emit('deleted', this.task);
						})
						.catch((response) => {
							// Catch all other exceptions
							this.$toast('danger', 'An unknown error occured (' + response.error + ')');
							console.log(response);
							this.setLoading(false);
						});
				}
			},

			updateDatabase() {
				if (!this.isLoading) {
					this.setLoading(true);
					this.task.save()
						.then((response) => {
							this.$emit('saved', this.task);
						})
						.catch((response) => {
							if (response.error === 'ResourceNotFoundException') {
								this.$toast('warning', 'That task no longer exists, try refreshing the page');
								return Promise.resolve(response);
							}
							return Promise.reject(response);
						})
						.finally((error) => {
							this.setLoading(false);
						});
				}
			},

			enableEditing() {
				if (!this.isLoading) {
					this.setEditing(true);
				}
			},

			disableEditing() {
				this.input.blur();
				this.setEditing(false);
				this.updateDatabase();
			},

			setLoading(isLoading) {
				this.input.disabled = isLoading;
				this.isLoading = isLoading;
			},

			setEditing(edit) {
				this.isEditing = edit;
			}
		}
	}
</script>

<style lang="sass" scoped>
	@import "../../sass/_variables.scss";

	.hidden-button {
		visibility: hidden;

		.task-list-item:hover & {
			visibility: visible;
		}
	}

	@keyframes rotation {
    0%   {
			transform: rotate(0deg);
		}
    100% {
			transform: rotate(360deg);
		}
	}

	.rotate {
		animation-name: rotation;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	.task-list-item {
		position: relative;
	}

	.task-title {
		&.deleted {
			text-decoration: line-through;
		}
	}
</style>
