<template>
	<div class="task-list">
		<new-task-bar @created="addTask"></new-task-bar>
		<task-list-item v-for="task in tasks" :key="task.id" :task="task" @deleted="removeTask"></task-list-item>
	</div>
</template>

<script>
	import Task from '../services/Task';

	export default {
		data() {
			return {
				tasks: [],
				isLoading: true
			}
		},
		methods: {
			// Fetches all tasks from the server
			fetchTasks() {
				this.isLoading = true;

				Task.listTasks()
					.then((taskList) => {
						this.tasks = taskList;
					})
					.catch((response) => {
						// Catch all other exceptions
						this.$toast('danger', 'An unknown error occured (' + response.error + ')');
						console.log(response);
					})
					.finally(() => {
						this.isLoading = false;
					});
			},

			// Removes a task from the local list
			removeTask(task) {
				for (var i = 0; i < this.tasks.length; i++)
				{
					if (this.tasks[i].id === task.id) {
						this.tasks.splice(i, 1);
					}
				}
			},

			// Adds a new task to the local list
			addTask(newTask) {
				this.tasks.splice(0, 0, newTask);
			}
		},
		mounted() {
			this.fetchTasks();
		}
	}
</script>

<style lang="sass">
	.task-list {
		margin-top: 25px;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
	}

	.task-list-segment {
		border: 1px solid rgba(0, 0, 0, 0.05);

		&:not(:first-child) {
			border-top: none;
		}
	}

	.task-list-input {
		width: 100%;
		border: none;
		background-color: transparent;
		font-size: 25px;
		height: 44px;
		line-height: 44px;
		padding-left: 20px;
		padding-right: 55px;
		cursor: pointer;

		&:focus {
			border: none;
			outline: none;
		}
	}
</style>
