<template>
	<div class="toasts-wrapper">
		<div v-for="toast in toasts" :class="['bg-' + toast.type]" class="toast">
			<div v-html="toast.content"></div>
			<loading-icon @clicked="removeToast(toast)" :color="[toast.type]" icon="remove" visible="true" is-button="true"></loading-icon>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				toasts: []
			}
		},
		methods: {
			// Adds a toast to the front of the array of toasts.
			// Creates a timeout to remove the toast after duration milliseconds
			createToast(type, content, duration = 5000) {
				if (type !== 'success' && type !== 'warning' && type !== 'danger') {
					type = 'info';
				}

				var toastObj = {
					type: type,
					content: content
				};

				this.toasts.splice(0, 0, toastObj);

				setTimeout(() => {
					this.removeToast(toastObj);
				}, duration);
			},

			removeToast(toastObj) {
				for (var i = 0; i < this.toasts.length; i++) {
					if (this.toasts[i] === toastObj) {
						this.toasts.splice(i, 1);
					}
				}
			}
		},
		mounted() {
			// Listen to global events
			this.$root.$on('toast', this.createToast);

			// Tell the plugin that the component is ready to receive toasts.
			Vue.toastComponentMountedCallback(this);
		}
	}
</script>

<style lang="sass">
	@import "../../sass/_variables.scss";

	@mixin toast-color($base-color) {
		background-color: rgba($base-color, 0.5);
		color: darken($base-color, 20%);
		border-color: darken($base-color, 20%);
	}

	.toasts-wrapper {
		position: fixed;
		right: 20px;
		top: 20px;
		height: 50px;
		width: 400px;
	}

	.toast {
		width: 400px;
		padding: 10px 15px;
		margin-bottom: 10px;
		border: 1px solid transparent;
		border-radius: 5px;

		.list-button {
			margin-top: -2px;
		}
	}
</style>
